<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-search
        #searchComp
        [searchName]="searchName"
        [searchMode]="searchMode"
        (search)="onSearch($event)"
      >
      </app-search>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 mx-auto">
      <ul class="list-group shadow">
        <li *ngFor="let part of pageOfItems" class="list-group-item mb-2">
          <!-- Custom content-->
          <div class="media align-items-lg-center flex-column flex-lg-row p-3">
            <div class="media-body order-2 order-lg-1">
              <h5 class="mt-0 font-weight-bold mb-2">{{part.name}}</h5>
              <p class="font-italic text-muted mb-0 small">
                {{part.description}}
              </p>
              <div
                class="d-flex align-items-center justify-content-between mt-1"
              >
                <h6 class="font-weight-bold my-2">{{part.price}}</h6>
                <ul class="list-inline small">
                  <li class="list-inline-item m-0">
                    <i class="fa fa-star text-success"></i>
                  </li>
                  <li class="list-inline-item m-0">
                    <i class="fa fa-star text-success"></i>
                  </li>
                  <li class="list-inline-item m-0">
                    <i class="fa fa-star text-success"></i>
                  </li>
                  <li class="list-inline-item m-0">
                    <i class="fa fa-star text-success"></i>
                  </li>
                  <li class="list-inline-item m-0">
                    <i class="fa fa-star-o text-gray"></i>
                  </li>
                </ul>
              </div>
            </div>
            <img
              src="https://res.cloudinary.com/mhmd/image/upload/v1556485076/shoes-1_gthops.jpg"
              alt="Generic placeholder image"
              width="200"
              class="ml-lg-5 order-1 order-lg-2"
            />
          </div>
          <!-- End -->
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-12 justify-content-center">
            <jw-pagination [items]="parts" (changePage)="onChangePage($event)"></jw-pagination>
      </div>
  </div>
</div>
