<div class="container">
  <div class="row pocetna align-items-center">
    <div class="col-md-8">
      <img
        src="assets/imgs/Pocetna4.jpg"
        class="img-fluid m-auto d-block"
        alt="Responsive image"
      />
    </div>
    <div class="col-md-4">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Delovi Djomla</h1>
          <p class="lead">
            This is a modified jumbotron that occupies the entire horizontal
            space of its parent.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-search [searchName]="searchName" [searchMode]="searchMode" (search)="onSearch($event)"></app-search>
    </div>
  </div>
</div>
